<p id="notice"><%= notice %></p>
<h1>Topic詳細</h1>
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
  <tr>
    <td><%= @topic.title %></td>
    <td><%= @topic.content %></td>
    <td><%= link_to '編集', edit_topic_path(@topic.id) %></td>
    <td><%= link_to '削除', topic_path(@topic.id), method: :delete, data: {confirm: '本当に削除してもよいですか？'} %></td>
  </tr>
</table>
<p>コメント一覧</p>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
<% if current_user.id == @topic.user_id %>
  <%= link_to '編集', edit_topic_path(@topic) %>
<% end %>
<%= link_to '戻る', :back %>