<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
      <%= link_to user_path(user.id) do %>
        <%= profile_img(user) %>
      <% end %>
      <%= user.email %><br>
      <% if Conversation.between(current_user.id, user.id).present? %>
        <%= link_to 'メッセージ', conversation_messages_path(conversation_id: Conversation.between(current_user.id, user.id).pluck[0][0], sender_id: current_user.id, recipient_id: user.id), :class => 'btn btn-default' %>
      <% else %>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), :method => 'post', :class => 'btn btn-default' %>
      <% end %>
      <%= render partial: 'follow_form', locals: { user: user } if signed_in? %>
    <% end %>
  <% end %>
</div>