<div class="container">
  <h2>ユーザー</h2>
  <div class="row">
    <table class="table table-hover">
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
          <tr>
            <td>
              <%= link_to user_path(user.id) do %>
                <div class="col-sm-2 col-xl-1">
                  <%= profile_img(user) %>
                </div>
              <% end %>
             
              <div class="col-sm-4 col-xl-4">
                <%= user.email %><br>
              </div>
              <div class="col-sm-3 col-xl-2">
                <%= render partial: 'follow_form', locals: { user: user } if signed_in? %>
              </div>
              <div class="col-sm-3 col-xl-2">
                <% if Conversation.between(current_user.id, user.id).present? %>
                  <%= link_to 'メッセージ', conversation_messages_path(conversation_id: Conversation.between(current_user.id, user.id).pluck[0][0], sender_id: current_user.id, recipient_id: user.id), :class => 'btn btn-default' %>
                <% else %>
                  <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), :method => 'post', :class => 'btn btn-default' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>