<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to '', root_path, class: 'mycssclass fa fa-home fa-lg', title: 'トップページへ' %></li>
              <li><%= link_to '', new_topic_path, class: 'mycssclass fa fa-pencil fa-lg', title: '新規トピック投稿' %></li>
              <li><%= link_to '', users_path, class: 'mycssclass fa fa-users fa-lg', title: 'ユーザー一覧' %></li>
              <li><%= link_to '', conversations_path, class: 'mycssclass fa fa-envelope-o fa-lg', title: 'メッセージ一覧' %></li>
              <li><%= link_to '', edit_user_registration_path, class: 'mycssclass fa fa-user fa-lg' ,title: 'マイページ' %></li>
              <li><%= link_to '', destroy_user_session_path, class: 'mycssclass fa fa-sign-out fa-lg', method: :delete, title: 'サインアウト' %></li>
            <% else %>
              <li><%= link_to '', new_user_session_path, class: 'mycssclass fa fa-sign-in fa-lg', title: 'サインイン' %></li>
              <li><%= link_to '', new_user_registration_path, class: 'mycssclass fa fa-plus fa-lg', title: 'サインアップ' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<%= yield %>
  <footer>
    <p>My Facebook 2017 Copyright K.M</p>
  </footer>
</body>
</html>
